html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   .column {
    float: left;
    width: 33.33%;
  }

.grid
{
  padding-left: 25px;
  padding: 25px;
}
